// Je commence par définir mes couleurs dans des variables
$dark-blue: #13405C;
$light-blue: #BDDCF0;
$purple: #5201FF;
$lightpurple: #ab8deb;
$normal-blue: #2A80B9;
$light-grey: #818385;
$dark-grey: #333333;
$light-color: white;
$error: #fcbf63;
